
    /* FOGLIO DI STILE 1 PER PROVA GMAIL */

body {
        background-image:url("../img/backgroundlegno.jpg");

}

header{
        border-bottom: : 1px solid white;
        text-align: center;
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 20px;
        margin-bottom: 20px;
      }

#logomail {
        width: 100px;
        display: inline;
        padding: 10px;
        vertical-align: middle;
}

#titolo {
        display: inline;
        box-sizing: border-box;
        color: white;
      }

/* Cornici di aiuto per sudividere le sezioni */
section {
        /* border: 1px solid black; */
        margin: 5px;
        /* background-color: rgb(168, 179, 172); */
}

#zonalogo {
        border-bottom: 2px solid white;
        padding-bottom: 10px;
        text-align: left;

}

#zonacerca {
        padding-top: 5px;
        text-align: left;
        padding-bottom: 5px;


}


button {
        height: 20px;
        border-radius: 20%;
        border: 1px solid #000000;
        text-align: center;
}

main {
        height: 220px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 10px;
        padding-bottom: 10px;
}

#notifiche {
        font-size: 20px;
        font-family: cursive;
        text-align: left;
        padding-bottom: 20px;
        color: white;

}

#cerchiato {
        background-color: #eb9514;
        text-align: center;
        border-radius: 100%;
        padding: 10px;
        color: #ffffff;

}

#checkbox {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 2px solid white;
        border-top: 2px solid white;
}

.nonlette {
        border: 1px solid black;
        background-color: white;
        padding: 5px;

}

.lette {
        border: 1px solid black;
        background-color: rgba(219, 219, 219, 0.5);
        padding: 5px;
}

#titolomail {
        font-style: normal;
        font-weight: bold;
}

#testomail {
        color: rgba(89, 91, 90, 1);
        font-weight:bold;
}

footer {
        height: 50px;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 20px;
        text-align: center;

}

#powered {
        color: white;

}
